.hori_cont {
  display: flex;
  margin-bottom: 30px;
}

.profile_wrap {
  width: 40%;
}

.profile_wrap .user_nick_name{
  text-align: left;
  padding-top: 10px;
  padding-left: 50px;
  margin-left: 50px;
  font-size: larger;
  font-weight: bold;
  color: #4d4d4d;
}

@media screen and (max-width: 1500px) {
  .profile_wrap .user_nick_name{
    text-align: left;
    padding-top: 10px;
    padding-left: 1px;
    margin-left: 1px;
    font-size: larger;
    font-weight: bold;
    color: #4d4d4d;
  }
}
.profile_img {
  width: 152px;
  height: 152px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.profile_img img {
  width: 100%;
  height: 100%;
}

.detail {
  /*display: flex;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
}
.detail .top {
  display: flex;
  align-items: center;
}

.detail .top .user_name {
  font-size: 35px;
  font-weight: 200;
  display: inline-block;
  padding-right: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.detail .top .profile_edit {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
  padding: 3px 20px;
  font-weight: 600;
  vertical-align: text-bottom;
  text-decoration: none;
  box-sizing: border-box;
  margin-top: 20px;
}

.detail .top .logout{
  display : flex;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  margin-top: 20px;
}

.detail .middle_introduction{
  display: flex;
  padding: 25px 0;
  font-size: 15px;
  font-weight: 600;
  margin-left: 30px;
}

.detail .bottom {
  display: flex;
  height: 40px;
  padding: 18px 0;
  font-size: 15px;
  font-weight: 600;
  margin-left: 30px;
}

.detail .bottom > li {
  margin-top: 3px;
  margin-right: 35px;
}
.detail .about > span {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.detail .about > span:nth-child(1) {
  margin-right: 10px;
}

.detail .about > span:after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.5s;
  background: #dd2d76;
}

.detail .about > span.on:after {
  width: 100%;
}
.contents_container_box{
  margin-top: 200px;
}

.contents_container {
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
}

.contents_container.active {
  display: flex;
}

.contents_container .pic {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 18px;
}

.contents_container .pic img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .contents_container {
    justify-content: center;
  }

  .contents_container .pic {
    margin: 10px;
  }
}

.contents_wrap :nth-child(2){
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold ;
}
.contents_wrap :nth-child(3){
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  
}

.contents_wrap :first-child{
  width:100px;
  height:100px;
  display : block;
  margin : auto;
}

.line{
  border:0;
  height:1px;
  background:#bbb;
  width: 99%;
  margin-bottom: 10px;
}

